
.upperbar{
    display: flex;
    border: solid 0px black;
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    margin:0px;
    padding: none;
    
  }
  
  body{
    /* background-color: rgb(32, 32, 32); */
  }
  #logo{
    height: 75px;
    width: 75px;
    text-align: center;
  }
  .facebook{
    background-color: rgb(32, 32, 32);
  }
  #fb{
    height:50px;
    width: 50px;
    margin-top: .01px
  }
  
  #twitter{
    height:50px;
    width: 50px;
  }
  
  #Youtube{
    height: 50px;
    width: 50px;
  }
  
  #ig{
    height:50px;
    width:50px;
  }
  .social_media{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Follow {
    justify-content: center;
    text-align: center;
    left: 20px;
  }
  h2{
    color: white;
  }
  
  .lowerbar{
    display: flex;
    border: solid 0px blue;
    background-color: red;
    color: whitesmoke;
    
    
    justify-content: center;
    
  }
  
  
  
  
  #unicef{
    height:100px;
    width: 100px;
  }
  
  #who-logo-world-health-organization-logo{
    height:100px;
    width: 100px;
  }
  
  #fao{
    height: 100px;
    width: 100px;
  }
  
  #AllStarCode{
    height:100px;
    width:100px;
  }
  
  .Follow {
    justify-content: center;
    text-align: center;
    left: 20px;
  }
  #h3{
    color: white;
    text-align: right;
    justify-content: center;
    background-color: aqua;
  }
  
  #logo1{
    height: 50px;
    width: 50px;
    text-align: right;
    justify-content: right;
  }